<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Medical History</title>   
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />    		
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    
  </head>
  
  <body>
    <div data-role="page" id="family-history">

      <!-- sidebar css and js -->
      <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
      <script type="text/javascript" src="/static/js/sidebar.js"></script>

        <div data-role="header" data-theme="e" data-position="fixed">
        	<a href="#sidebarFamily" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" data-inline="true" data-icon="grid" data-iconpos="notext">Menu</a>
            <h1>Medical History</h1>
	        <a href="/info/history/family/add/" data-rel="dialog" data-transition="flip" data-role="button" data-icon="add" data-iconpos="left" data-inline="true">ADD</a>
        </div>
      
      	<div data-role="content">

	  <!-- start sidebar -->
          <div data-role="popup" id="sidebarFamily" class="sidebarPopup" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
	    <!-- include sidebar -->
            {% include "info/sidebar.html" %}        
          </div>
          <!-- end sidebar -->

	
	  <ul data-role="listview" data-filter="true" data-filter-placeholder="Search condition/relation..." data-filter-theme="d" data-theme="e" data-divider-theme="f">
	    <li data-role="list-divider"> 
	      <div class="ui-grid-a">
		<div class="ui-block-a">Relationship</div>
                <div class="ui-block-b">Medical Condition</div>
	      </div>
	    </li>

	    {% for i in entries %}
	    <li data-icon="delete"><a href="/info/history/family/remove/?id={{ i.family_id }}" data-rel="dialog" data-inline="true" data-transition="flip">
		<div class="ui-grid-a">
		  <div class="ui-block-a">{{ i.relationship }}</div>
                  <div class="ui-block-b">{{ i.condition }}</div>
		</div>
	    </a></li>
	    {% endfor %}
	  </ul>


          <!-- TODO: status message popup/dialog box for new users-->
          {% if no_entries %}
          <div style="text-align:center; font-style: italic; color: crimson;">
            <h4>No Family Medical History Information Available. To add an entry, click the 'ADD' button at the top right.</h4>
          </div>
          {% endif %}

	</div>

    
        <!-- footer -->
        <div data-role="footer" data-id="historybar" data-position="fixed" data-tap-toggle="false" data-theme="e">
          <div data-role="navbar" data-grid="a">
            <ul>
              <li><a href="/info/history/user/" data-icon="arrow-l" data-transition="slide" data-direction="reverse">My History</a></li>
              <li><a href="#family-history" data-icon="star" class="ui-btn-active ui-state-persist">Family History</a></li>
            </ul>
          </div>
        </div>

    </div>

  </body>
</html>
  
