<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Medical History</title>   
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />    		
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />
   
  </head>
  
  <body>
    <div data-role="page" id="add-family-history">
        <div data-role="header" data-theme="e">
          <div style="text-align:center"><p>Add to <br /> Family Medical History?</p></div>
        </div>
      
      	<div data-role="content" data-theme="e">

          {% if error_msg %}
          <div style="text-align:center; font-style: italic; color: crimson;">
            <p>{{ error_msg }}</p>
          </div>
          {% endif %}

          <form method="post" action="/info/history/family/add/post/">
            {% csrf_token %}
            <label for="relationship"><strong>Relationship: </strong></label>
            <input type="text" name="relationship" id="relationship" list="family-list" autocomplete="on">
            <datalist id="family-list">
              <option>Father</option>
              <option>Mother</option>
              <option>Grandfather</option>
              <option>Grandmother</option>
              <option>Uncle</option>
              <option>Aunt</option>
              <option>Brother</option>
              <option>Sister</option>
            </datalist>

            <label for="condition"><strong>Condition: </strong></label>
            <input type="text" name="condition" id="condition" list="cond-list" autocomplete="on">
            <datalist id="cond-list">
              <option>High Cholesterol</option>
              <option>Lung Cancer</option>
              <option>Osteoporosis</option>
              <option>Heart Disease</option>
              <option>Cystic Fibrosis</option>
              <option>Sickle Cell Anemia</option>
              <option>Celiac Disease</option>
            </datalist>

            <button type="submit" value="ADD ENTRY" data-theme="f"></button>
          </form>
          <a href="#" data-rel="back" data-role="button" data-theme="e">CANCEL</a>

	</div>    
    </div>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
 
  </body>
</html>
  
