# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt

# Django stuff
*.log
staticfiles
media
*.sqlite3

# Hidden files / directories
.*
!.gitignore

# Sensitive and local info
local_settings.py
alert_credentials.py
