Django==1.4.2
Pillow==2.7.0
psycopg2==2.5.3
boto==2.36.0
dj-database-url==0.3.0
django-extensions==1.0.1
django-registration==0.8
django-storages==1.1.8
gunicorn==19.2.0
static3==0.5.1
wsgiref==0.1.2
