<!DOCTYPE html>
<html>
  <head>
    <title>ERGO | Activation</title>
    
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />
    
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
    <div data-role="page" id="activate-complete">
      <div data-role="header" data-theme="e">
        <h1>Activation</h1>
        <a href="/accounts/login/" data-role="button" class="ui-btn-right" style="color:crimson">LOGIN</a>
      </div>

      <div data-role="content" style="text-align:center">
        <h2 style="color:crimson">Your account has been successfully activated!</h2>
        <p>Please <a href="/accounts/login/">log in</a> to start using ERGO.</p>
      </div>
    </div>
  </body>
</html>
