<!DOCTYPE html>
<html>
  <head>
    <title>ERGO | Activation</title>
    
    <meta charset="utf-8">
    
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
    <div data-role="page" id="login">
      <div data-role="header" data-theme="c">
        <h1>Account Activation</h1>
        <a href="/accounts/login/" id="login" class="ui-btn-right">Login</a>
      </div>

      <div data-role="content">
          {% load humanize %}
          {% if account %}
          <h1>Your account has been successfully activated!</h1>
          <p>Please <a href="/accounts/login/">login</a> to start using ERGO.</p>
          {% else %}
          <h1>Account activation failed.</h1>
          <p>Sorry, it didn't work. Either your activation link was incorrect, or
            the activation key for your account has expired; activation keys are
            only valid for {{ expiration_days|apnumber }} days after
            registration.</p>
          {% endif %}
      </div>
    </div>
  </body>
</html>
