<!DOCTYPE html>
<html>
  <head>
    <title>ERGO | Login</title>
    
    <meta charset="utf-8">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
    <div data-role="page" id="login">

      <div data-role="header" data-theme="e" data-position="fixed">
        <div style="font-size:25px;color:crimson;text-align:center;">ERGO</div>
      </div> <!-- end header -->

      <div data-role="content" data-theme="e">
        <a href="/er/access/" data-role="button" data-theme="f">Healthcare Provider Access &rarr;</a>

        {% if form.errors %}
        <p class="error" style="color:crimson">*Please correct the errors below:</p>
        {% endif %}

        <form method="post" action="?next={{ next|default:"/" }}" data-transition="pop">
          {% csrf_token %}
          <label for="id_username"><strong>Username:</strong></label>
          {% if form.username.errors %} 
          <span class="error">{{ form.username.errors|join:", " }}</span>
          {% endif %}
          {{ form.username }}
          <label for="id_password"><strong>Password:</strong></label>
          {% if form.password.errors %} 
          <span class="error">{{ form.password.errors|join:", " }}</span>
          {% endif %}
          {{ form.password }}
          
          <button type="submit" value="LOGIN" data-theme="e"></button>
        </form>
        <p><a href="#" style="text-decoration:none; font-size:14px; ">Forgot Password?</a></p>

        <br />

        <hr>
        <div data-theme="e">
          <p style="text-decoration:italic">New to ERGO? <a href="/accounts/register/" style="text-decoration:none;">Register here!</a></p>
          <p style="text-decoration:italic">What is ERGO? <a href="http://stanford.edu/~jmtai/cgi-bin/ergo-dev/ergo/templates/tutorial.html" style="text-decoration:none;">Explore now!</a></p>
        </div>
      </div>

    </div>
  </body>
</html>

