{% extends "base.html" %}

{% block title %}ERGO | Password Reset{% endblock %}

{% block content %}
<div data-role="page" id="password-reset-complete">
  <div data-role="header" data-theme="e">
    <h1>Password Reset Complete</h1>
    <a href="/accounts/login/" data-role="button" class="ui-btn-right" style="color:crimson">LOGIN</a>
  </div>

  <div data-role="content" data-theme="e">
    <p>Your password has been set. You may go ahead and log in now.</p>
    <p><a href="{{ login_url }}">Login</a></p>
  </div>
</div>
{% endblock %}
