{% extends "base.html" %}

{% block title %}ERGO | Password Reset{% endblock %}

{% block content %}
<div data-role="page" id="password-reset-form">
  <div data-role="header" data-theme="e">
    <h1>Password Reset</h1>
    <a href="/accounts/login/" data-rel="back" data-role="button" class="ui-btn-right" style="color:crimson">LOGIN</a>
  </div>

  <div data-role="content" data-theme="e">
    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.email.errors }}
      <p><label for="id_email">E-mail address:</label>
          {{ form.email }}
          <input type="submit" value="Reset my password" />
      </p>
    </form>
  </div>
</div>
{% endblock %}
