<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Offline</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />    

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
  
    <div data-role="page" id="offline">
      <div data-role="header" data-theme="e" data-position="fixed">
        <a href="/" data-role="button" data-icon="home" data-iconpos="notext"></a>
        <h1>Stay Connected</h1>
      </div>

     <div data-role="content">

        <!-- TODO: status message popup/dialog box for new users-->
        {% if new_user %}
        <div style="text-align:center; font-style: italic; color: crimson;">
          <h4>To stay connected with ERGO everywhere and all the time, please create a PROFILE first.</h4>
          <a href="/profile/edit/" data-role="button">Create Profile >>></a>
        </div>
        {% endif %}

         <ul data-role="listview" data-inset="true" data-divider-theme="f" data-theme="c">
            <li data-role="list-divider">
                <h1>Your ERGO emergency card: </h1>
            </li>
            <li>
              <center>
                <div style="border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border: 5px dotted #DC143C; width:248px; height:150px;">
                <img src="/static/images/ergo_id_logo.png" height="60px" />
                <h3>NAME: {{ offline.firstname }} {{ offline.lastname }}</h3>
                <h3>ERGO ID:</h3>
                <p><strong>{{ offline.ergo_id }}</strong></p>
              </div>
              </center>
            </li>
            <li>
              <h3 style="text-align:center;">Feel protected with ERGO, </h3>
              <h3 style="text-align:center;">everywhere you go!</h3>
              <h3 style="text-align:center;">For more ERGO ID accessories, </h3>
              <h3 style="text-align:center;">please visit the ERGO store.</h3>
            </li>
        </ul>
 
         <div data-role="collapsible-set" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-content-theme="c" data-theme="f">
           <div data-role="collapsible">
             <h1>Shop ERGO</h1>
             <ul data-role="listview" >
               <li><h3>ERGO store coming soon...</h3></li>
               <li><h3>Products (engrained with ERGO ID) include:</h3>
                 <div style="padding-left:10px;">  
                   <p> > Wristbands</p>
                   <p> > Bracelets</p>
                   <p> > Necklaces</p>
                   <p> > Stickers</p>
                   <p> > Clothing</p>
                   <p> > Etc..</p>
                 </div>
               </li>
             </ul>
           </div>
         </div>

        </div> 
      </div> <!-- end offline page -->
      
  </body>
</html>



