.edit-btn {
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}
.check-icon-on {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 20px;
    background: transparent url(/static/images/check-on.png) no-repeat center left;
}
.check-icon-off {
    font-size: 14px;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 20px;
    background: transparent url(/static/images/check-off.png) no-repeat center left;
}
#alert-btn .ui-btn { 
    padding: 15px;
}
    