iframe { border: none; }

#sidebarListview-popup, #sidebarDrug-popup, #sidebarDiet-popup, #sidebarMiscAllergy-popup, #sidebarPrescription-popup, #sidebarOTC-popup, #sidebarMiscDrug-popup, #sidebarVaccine-popup, #sidebarProvider-popup, #sidebarHistory-popup, #sidebarFamily-popup {
	left: 0 !important;
	right: auto !important;
}
.sidebarPopup {
	width: 200px;
	border: 1px solid #b3b3b3;
	border-left: none;
	border-top: none;
	background: rgba(0,0,0,.3);
	margin: 41px 0px;
}
.sidebarPopup .ui-btn {
	margin: 0px 0px;
}