<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Alert</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />
 </head>

  <body>
    <div data-role="dialog" id="alert-dialog">
      <div data-role="header" data-theme="e">
        <h1>ALERT!</h1>
      </div>

      <div data-role="content" data-theme="e">

        <div style="text-align:center">
          <h3>Are you sure you want to alert your emergency contacts?</h3>
        </div>
	    <form method="post" action="/contacts/alert/send/">
              {% csrf_token %}
              <label for="location"><strong>ER Location: </strong></label>
              <input type="text" id="location" name="location" />
              <br />

	      <button type="submit" data-theme="f">ALERT CONTACTS</button>
	    </form>
            <a href="#" data-rel="back" data-role="button" data-theme="e">Cancel</a>

      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
 
  </body>
</html>

