<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Alert</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
    <div data-role="dialog" id="alert-dialog" data-dismissable="false">
      <div data-role="header" data-theme="e">
        <h1>ALERT! Status</h1>
      </div>

      <div data-role="content" data-theme="e">

        {% if status_msg %}
        <div style="text-align:center">
          <h3 style="text-color: crimson">{{ status_msg }}</h3>
        </div>
        {% else %}
        <div style="text-align:center">
          <h3 style="text-color: crimson">An error has occurred. Please try again.</h3>
        </div>
        {% endif %}

        <a href="/contacts/" data-role="button" data-theme="e">OK</a>

      </div>
    </div>

  </body>
</html>

