<!DOCTYPE html>
<html>
  <head>
    <title>ERGO</title>   
    <meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />    
    <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" />
		
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    
    <!-- sidebar stuff -->
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
    <script type="text/javascript" src="/static/js/sidebar.js"></script>
  </head>
  
  <body>
    <div data-role="page" id="family">
        <div data-role="header" data-theme="c" data-position="fixed">
        	<a href="#popupPanel" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" data-inline="true" data-icon="grid" data-corners="false" data-iconpos="notext">Menu</a>
            <h1>FAMILY MEDICAL HISTORY</h1>
	        <a href="/historys/#add-history" data-rel="popup" data-position-to="window" data-role="button" data-icon="add" data-iconpos="notext" data-inline="true">Add</a>
        </div>
      
      	<div data-role="content">

	  <!-- sidebar -->
	  {% include 'info/sidebar.html' %}

	
	        <ul data-role="listview" data-filter="true" data-filter-placeholder="Search by Condition or Date..." data-filter-theme="d" data-theme="d" data-divider-theme="d">
				<li data-role="list-divider"> 
				    <div class="ui-grid-a">
				        <div class="ui-block-a">YEAR</div>
				        <div class="ui-block-b">FAMILY CONDITION</div>
				    </div>
				</li>
				{% for i in family %}
				<li data-icon="false"><a href="#remove-history" data-rel="popup" data-position-to="window" data-inline="true" data-transition="pop">
				    <div class="ui-grid-a">
				        <div class="ui-block-a">{{ i.history_year }}</div>
				        <div class="ui-block-b">{{ i.history_type }}</div>
				    </div>
				</a></li>
				{% endfor %}
			</ul>
		</div>


		<!--  start ADD FAMILY HISTORY popup -->
		<div data-role="popup" id="add-history" data-theme="b" class="ui-corner-all">
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<form method="post" action="#family">
				<div style="padding:15px 30px;">
		          <label for="history_name"><strong>Condition Type:</strong></label>
		          <input type="text" name="history_type" id="history_type" value="" data-theme="b" />

		          <label for="history_date"><strong>Date Given:</strong></label>
		          <input type="date" name="history_date" id="history_date" value="" data-theme="b" />
		          <br />
		    	  <button type="submit" data-theme="b">ADD FAMILY HISTORY</button>
				</div>
			</form>
	  	</div> <!-- end ADD FAMILY HISTORY popup -->


  		<!-- start REMOVE FAMILY HISTORY popup -->
  		<div data-role="popup" id="remove-history" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
			<div data-role="header" data-theme="a" class="ui-corner-top">
				<h1>Remove Family Condition?</h1>
			</div>
			<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
				<h3 class="ui-title">Are you sure you want to remove this family condition?</h3>
				<p>This action cannot be undone.</p>
				<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>    
				<a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Remove</a>  
			</div>
		</div> <!-- end REMOVE FAMILY HISTORY popup -->
    
    <!-- footer -->
    <div data-role="footer" data-id="samebar" data-position="fixed" data-tap-toggle="false" data-theme="c">
      <div data-role="navbar" data-grid="c">
        <ul>
          <li><a href="/history/conditions/" data-icon="arrow-u">Conditions</a></li>
          <li><a href="/history/accidents/" data-icon="arrow-u">Accidents</a></li>
          <li><a href="/history/surgeries/" data-icon="arrow-u">Surgeries & <br />Hospitalizations</a></li>
          <li><a href="#history-family" data-icon="star" class="ui-btn-active">Family</a></li>
        </ul>
      </div>
    </div>

	</div>


  </body>
</html>
  
