        <div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
          <a href="/" data-role="button" data-theme="c" data-icon="home" data-corners="false">HOME</a>
          <ul data-role="listview" data-inset="false" data-theme="d">
            <li data-role="list-divider">Sections</li>
              <li><a href="/allergies/drug/">
                ALLERGIES
              </a></li>
              <li><a href="/drugs/prescription/">
                DRUGS
              </a></li>
              <li><a href="/history/conditions/">
                HISTORY
              </a></li>
              <li><a href="/vaccines/">
                IMMUNIZATIONS
              </a></li>
              <li><a href="/providers/">
                PROVIDERS
              </a></li>
          </ul>
        </div>
