<!-- sidebar css and js 
<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
<script type="text/javascript" src="/static/js/sidebar.js"></script>
-->

  <a href="/" data-role="button" data-theme="e" data-icon="home" data-corners="false">HOME</a>
  <ul data-role="listview" data-inset="false" data-theme="e" data-divider-theme="f">
    <li data-role="list-divider">Sections</li>
    <li><a href="/info/allergies/drug/">
        ALLERGIES
    </a></li>
    <li><a href="/info/drugs/prescription/">
        DRUGS
    </a></li>
    <li><a href="/info/history/user/">
        HISTORY
    </a></li>
    <li><a href="/info/shots/">
        IMMUNIZATIONS
    </a></li>
    <li><a href="/info/providers/">
        PROVIDERS
    </a></li>
  </ul>

