{% extends "base.html" %}

{% block content %}
<!-- Home Page -->
  <div data-role="page" id="home">

    <div data-role="header" data-theme="e" data-position="fixed">
      <div style="font-size:35px;color:crimson;text-align:center">ERGO</div>
      <a href="/accounts/logout/" data-role="button" class="ui-btn-right"><span style="font-size:10px;">LOG OUT</span></a>
    </div> <!-- end header -->

    <div data-role="content" data-id="homegrid" data-tap-toggle="false">
        <div class="rel-container">
        <fieldset class="ui-grid-a">
    <div class="ui-block-a">
      <a href="/profile/" style="text-decoration:none;"><button type="submit" data-theme="f">
          PROFILE
          <div>
      <img src="{{ STATIC_URL }}images/profile.png" style="height:90px;width:90px;" />
          </div>
    </button></a></div>
    <div class="ui-block-b">
      <a href="/info/allergies/drug/" style="text-decoration:none;"><button type="submit" data-theme="f">
          <div style="font-size:12px;">MEDICAL</div>
          <div style="font-size:12px;">INFORMATION</div>
          <div>
      <img src="{{ STATIC_URL }}images/med-info.png" style="height:80px;width:80px;" />
          </div>
    </button></a></div>
    <div class="ui-block-a">
      <a href="/contacts/" style="text-decoration:none;"><button type="submit" data-theme="f">
          CONTACTS
          <div>
      <img src="{{ STATIC_URL }}images/contacts.png" style="height:90px;width:90px;"/>
          </div>
    </button></a></div>
<div class="ui-block-b">
      <a href="/profile/offline/" style="text-decoration:none;"><button type="submit" data-theme="f">
          <div style="font-size:12px;">STAY</div>
          <div style="font-size:12px;">CONNECTED</div>
          <div>
      <img src="{{ STATIC_URL }}images/note.png" style="height:80px;width:80px;" />
          </div>
    </button></a></div>
        </fieldset>
        </div>
    </div><!-- end content -->

    <a href="{{ STATIC_URL }}misc/ergo-poster.png"><div data-role="footer" data-theme="e" data-position="fixed">
      <div style="font-size:11px;text-align:center;">about us | 2012</div>
    </div></a>
  </div>

{% endblock %}
