<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Allergies</title>       
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
    <div data-role="dialog" id="add-allergy">
      <div data-role="header" data-theme="d">
        <h1>Add Allergy?</h1>
      </div>
    
      <div data-role="content" data-theme="c">

        {% if error_msg %}
        <div style="text-align:center; font-style: italic; font-color: red;">
          <p>{{ error_msg }}</p>
        </div>
        {% endif %}

        <form method="post" action="/info/allergies/add/post/">
          {% csrf_token %}
          <input type="hidden" name="allergy_category" value="{{ allergy_category }}" />
          
          <label for="allergy"><strong>Allergy: </strong></label>
          <select id="allergy" name="allergy_id" data-theme="b">
            {% for x in allergies %}
              <option value="{{ x.allergy_id }}">{{ x.allergy_name }}</option>
            {% endfor %}
          </select>
          
          <br />
          <button type="submit" data-theme="b">Add Allergy</button>
        </form>
        <a href="/info/allergies/{{ allergy_category }}/" data-role="button" data-theme="c">Cancel</a>
      </div>
    </div>

  </body>
</html>
