<!DOCTYPE html>
<html>
  <head>
    <script src="//cdn.optimizely.com/js/148158180.js"></script>
    <title>ERGO - Allergies</title>       
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  
  <body>
    <div data-role="page" id="allergies-drug">

    <script src="//cdn.optimizely.com/js/148158180.js"></script>
  
      <!-- Load CSS for shelf everytime -->
      <link rel="stylesheet" type="text/css" href="/static/css/shelf-style.css" />
      <!-- sidebar css and js -->
      <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
      <script type="text/javascript" src="/static/js/sidebar.js"></script>

      <!-- start header -->
      <div data-role="header" data-theme="c" data-position="fixed">
      	<a href="#sidebarDrug" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" data-inline="true" data-icon="grid" data-corners="false" data-iconpos="notext">Menu</a>
        <h1>ALLERGIES</h1>
  	<a href="/info/allergies/add/?cat=drug" data-role="button" data-icon="plus" data-iconpos="notext" class="ui-btn-right" data-rel="dialog" data-inline="true" data-transition="flip">Add</a>
      </div>
      <!-- end header -->

      <!-- start Sidebar -->
      <div data-role="popup" id="sidebarDrug" class="sidebarPopup" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
	<!-- include sidebar -->
        {% include "info/sidebar.html" %}        
      </div>
      <!-- end Sidebar -->


      <!-- start content -->
      <div data-role="content" class="shelf">

        <!-- TODO: status message pop up for new users -->
        {% if no_allergies %}
        <div style="text-align:center;font-style:italic;color:red;">
          <h4>To add an allergy to the cabinet, click on the add button at the top right.</h4>
        </div>
        {% endif %}
		      
        {% for shelf in cabinet.fullshelf %}
  	<div class="ui-grid-solo">
          <div class="shelf-row">
            <div class="shelf-label0">{{ shelf.0.allergy_name }}</div>
            <a href="/info/allergies/remove/?cat=drug&id={{ shelf.0.allergy_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/allergies/{{ shelf.0.allergy_img }}" class="shelf-item0" /></a>
                  
            <div class="shelf-label1">{{ shelf.1.allergy_name }}</div>
            <a href="/info/allergies/remove/?cat=drug&id={{ shelf.1.allergy_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/allergies/{{ shelf.1.allergy_img }}" class="shelf-item1" /></a>

            <div class="shelf-label2">{{ shelf.2.allergy_name }}</div>
            <a href="/info/allergies/remove/?cat=drug&id={{ shelf.2.allergy_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/allergies/{{ shelf.2.allergy_img }}" class="shelf-item2" /></a>
    
          </div>
        </div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endfor %}

        {% if overflow == 2 %}
        <div class="ui-grid-solo">
          <div class="shelf-row">
              <div class="shelf-label0">{{ cabinet.overflow.0.0.allergy_name }}</div>
              <a href="/info/allergies/remove/?cat=drug&id={{ cabinet.overflow.0.0.allergy_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/allergies/{{ cabinet.overflow.0.0.allergy_img }}" class="shelf-item0" /></a>
              
              <div class="shelf-label1">{{ cabinet.overflow.0.1.allergy_name }}</div>
              <a href="/info/allergies/remove/?cat=drug&id={{ cabinet.overflow.0.1.allergy_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/allergies/{{ cabinet.overflow.0.1.allergy_img }}" class="shelf-item1" /></a>
          </div>
        </div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endif %}


        {% if overflow == 1 %}
        <div class="ui-grid-solo">
          <div class="shelf-row">
            <div class="shelf-label0">{{ cabinet.overflow.0.0.allergy_name }}</div>
            <a href="/info/allergies/remove/?cat=drug&id={{ cabinet.overflow.0.0.allergy_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/allergies/{{ cabinet.overflow.0.0.allergy_img }}" class="shelf-item0" /></a>
                  
          </div>
        </div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endif %}
            
        {% if extra_shelf == 1 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% else %}{% if extra_shelf == 2 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% else %}{% if extra_shelf == 3 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% else %}{% if extra_shelf == 4 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endif %}{% endif %}{% endif %}{% endif %}

        <br />
        <br />
      </div>

      <!-- footer -->
      <div data-role="footer" data-id="samebar" data-position="fixed" data-tap-toggle="false" data-theme="c">
        <div data-role="navbar" data-grid="b">
          <ul>
            <li><a href="/info/allergies/drug/" data-icon="star" class="ui-btn-active ui-state-persist">Drug</a></li>
            <li><a href="/info/allergies/diet/" data-icon="arrow-u">Dietary</a></li>
            <li><a href="/info/allergies/misc/" data-icon="arrow-u">Misc.</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </body>
</html>
