<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Profile</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
  
    <div data-role="page" id="profile">
      <div data-role="header" data-theme="c" data-position="fixed">
        <a href="/" data-role="button" data-icon="grid" data-iconpos="notext"></a>
        <h2>PROFILE</h2>
        <a href="/profile/edit/" data-role="button" data-icon="check" data-iconpos="left">Edit</a>
      </div>

     <div data-role="content">

	 <!-- status message pop-up for new users who have not created a profile yet --> 
	 {% if new_user %}
	 
	 <h2>TODO: Please update profile by clicking edit button on top right.</h2>

	 {% endif %}
	 <!-- end status pop-up-->
     
     <!-- update successful message pop up 
     {% if update_success %}
     
     <h2>Profile has been successfuly updated.</h2>

     {% endif %}
      end popup -->

         <div style="text-align:center;">
            <img src="http://stanford.edu/~zqkng/cgi-bin/ergo/images/generic_profile_img.png" style="width:150px;height:150px;border:1px solid black;"/>
         </div>

         <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="a">
                <h1>ERGO ID: {{ profile.ergo_id }}</h1>
            </li>
            <li><h3>NAME: {{ profile.firstname }} {{ profile.lastname }}</h3></li>
            <li><h3>BIRTHDATE: {{ profile.dob }}</h3></li>
            <li><h3>SEX: {{ profile.sex }} </h3></li>
        </ul>
 
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="a">CONTACT</li>
            <li><h3>EMAIL: {{ user.email }}</h3></li>
            <li><h3>PHONE: {{ profile.phone }}</h3></li>
        </ul>   
      
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="a">ADDRESS</li>
            <li>
                <h3>{{ profile.address }}</h3>
                <h3>{{ profile.city }}, {{ profile.state }} {{ profile.zipcode }}</h3>
            </li>
        </ul> 
        </div> 
      </div> <!-- end profile page -->
      
  </body>
</html>



