<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Medical History</title>   
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />    		
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  
  <body>

    <div data-role="page" id="user-history">
      <div data-role="header" data-theme="c" data-position="fixed">
        <a href="#sidebarHistory" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" data-inline="true" data-icon="grid" data-corners="false" data-iconpos="notext">Menu</a>
        <h1>My Medical History</h1>
	<a href="/info/history/user/add/" data-rel="popup" data-position-to="window" data-role="button" data-icon="add" data-iconpos="notext" data-inline="true">Add</a>
      </div>
      
      <div data-role="content">

	<!-- start sidebar -->
        <div data-role="popup" id="sidebarHistory" class="sidebarPopup" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
	  <!-- include sidebar -->
          {% include "info/sidebar.html" %}        
        </div>
        <!-- end sidebar -->

        <!-- TODO: status message popup/dialog box for new users-->
        {% if no_entries %}
        <div style="text-align:center; font-style: italic; color: crimson;">
          <h4>No Medical History Available. To add an entry, click the add button at the top right.</h4>
        </div>
        {% endif %}

	<ul data-role="listview" data-filter="true" data-filter-placeholder="Search by Type or Year..." data-filter-theme="d" data-theme="d" data-divider-theme="d">
	  <li data-role="list-divider"> 
	    <div class="ui-grid-b">
	      <div class="ui-block-a">YEAR</div>
              <div class="ui-block-b">TYPE</div>
	      <div class="ui-block-c">DESCRIPTION</div>
	    </div>
	  </li>
<!--
	  {% for i in entries %}
	  <li data-icon="false"><a href="/info/history/entry/?id={{ i.history_id }}" data-rel="dialog" data-inline="true" data-transition="slide">
	      <div class="ui-grid-b">
		<div class="ui-block-a">{{ i.year }}</div>
                {{ if i.category == 0}}
		<div class="ui-block-b">Condition</div>
                {{ endif }}
                {{ if i.category == 1}}
		<div class="ui-block-b">Accident</div>
                {{ endif }}
                {{ if i.category == 2}}
		<div class="ui-block-b">Surgery</div>
                {{ endif }}
                {{ if i.category == 3}}
		<div class="ui-block-b">Visit</div>
                {{ endif }}
                <div class="ui-block-c">{{ i.description }}</div>
	      </div>
	  </a></li>
	  {% endfor %}
	</ul>
      </div>
-->
    
      <!-- footer -->
      <div data-role="footer" data-id="historybar" data-position="fixed" data-tap-toggle="false" data-theme="c">
        <div data-role="navbar" data-grid="a">
          <ul>
            <li><a href="#user-history" data-icon="star" class="ui-btn-active ui-state-persist">My History</a></li>
            <li><a href="/info/history/family/" data-icon="arrow-u">Family History</a></li>
          </ul>
        </div>
      </div>
      
    </div>

  </body>
</html>
  
