<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Immunizations</title>   
    <meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>

  <body>
    <div data-role="dialog" id="remove-vaccine">
      <div data-role="header" data-theme="d">
        <h1>Remove Vaccine?</h1>
      </div>

      <div data-role="content" data-theme="c">
        <div style="text-align:center">
          <h3>Are you sure you want to remove this vaccine?</h3>
          <p>This action cannot be undone.</p>
        </div>
	    <form method="post" action="/info/shots/remove/post/?id={{ vaccine_id }}">
              {% csrf_token %}
	      <button type="submit" data-theme="b">Remove Vaccine</button>
	    </form>
        <a href="/info/shots/" data-role="button" data-rel="back" data-theme="c">Cancel</a>

      </div>
    </div>

  </body>
</html>
