{% extends "base.html" %}

{% block title %}ERGO | Immunizations{% endblock %} 

{% block content %}
<div data-role="dialog" id="add-vaccine">
  <div data-role="header" data-theme="e">
    <h1>Add Vaccine?</h1>
  </div>

  <div data-role="content" data-theme="e">

    {% if error_msg %}
    <div style="text-align:center; font-style: italic; color: crimson;">
      <p>{{ error_msg }}</p>
    </div>
    {% endif %}

  <form method="post" action="/info/shots/add/post/">
          {% csrf_token %}
    <label for="vaccine"><strong>Vaccine: </strong></label>
    <select id="vaccine" name="vaccine_id" data-theme="e">
            {% for x in vaccines %}
              <option value="{{ x.vaccine_id }}">{{ x.vaccine_name }}</option>
            {% endfor %}
          </select>

          <label for="vaccine_date"><strong>Date Given:</strong></label>
    <input type="date" name="vaccine_date" id="vaccine_date" value="" data-theme="e" />
    <br />
    <button type="submit" data-theme="f">ADD VACCINE</button>
  </form>
        <a href="#" data-rel="back" data-role="button" data-theme="e">Cancel</a>

  </div>
</div>
{% endblock %} 
