<!DOCTYPE html>
<html>
  <head>
    <title>ERGO - Drugs</title>       
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/static/css/themes/ergo-theme.min.css" />
 </head>
  
  <body>
    <div data-role="page" id="drugs-prescription">
      
      <!-- Load CSS for shelf everytime -->
      <link rel="stylesheet" type="text/css" href="/static/css/shelf-style.css" />

      <!-- sidebar css and js -->
      <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
      <script type="text/javascript" src="/static/js/sidebar.js"></script>

      <!-- start header -->
      <div data-role="header" data-theme="e" data-position="fixed">
      	<a href="#sidebarPrescription" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" data-inline="true" data-icon="grid" data-iconpos="notext">Menu</a>
        <h1>Drugs</h1>
  	<a href="/info/drugs/add/?cat=0" data-role="button" data-icon="plus" data-iconpos="left" class="ui-btn-right" data-rel="dialog" data-inline="true" data-transition="flip">ADD</a>
      </div>
              
      <!-- start content -->
      <div data-role="content" class="shelf">

        <!-- start Sidebar -->
        <div data-role="popup" id="sidebarPrescription" class="sidebarPopup" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
	  <!-- include sidebar -->
          {% include "info/sidebar.html" %}        
        </div>
        <!-- end Sidebar -->
		 
        <!-- TODO: status message pop up for new users -->
        {% if no_drugs %}
        <div style="text-align:center;font-style:italic;color:crimson;">
          <h4>To add a drug to the cabinet, click on the 'ADD' button at the top right.</h4>
        </div>
        {% endif %}

        <!-- start processing drugs for bookshelf display -->
        		      
        {% for shelf in cabinet.three %}
  	<div class="ui-grid-solo">
          <div class="shelf-row">
            <div class="shelf-label0">{{ shelf.0.drug_name }}</div>
            <a href="/info/drugs/remove/?cat=0&id={{ shelf.0.drug_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/drugs/{{ shelf.0.drug_img }}" class="shelf-item0" /></a>
                  
            <div class="shelf-label1">{{ shelf.1.drug_name }}</div>
            <a href="/info/drugs/remove/?cat=0&id={{ shelf.1.drug_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/drugs/{{ shelf.1.drug_img }}" class="shelf-item1" /></a>

            <div class="shelf-label2">{{ shelf.2.drug_name }}</div>
            <a href="/info/drugs/remove/?cat=0&id={{ shelf.2.drug_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/drugs/{{ shelf.2.drug_img }}" class="shelf-item2" /></a>
    
          </div>
        </div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endfor %}


        {% if two_drug %}
        <div class="ui-grid-solo">
          <div class="shelf-row">
              <div class="shelf-label0">{{ cabinet.two.0.drug_name }}</div>
              <a href="/info/drugs/remove/?cat=0&id={{ cabinet.two.0.drug_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/drugs/{{ cabinet.two.0.drug_img }}" class="shelf-item0" /></a>
              
              <div class="shelf-label1">{{ cabinet.two.1.drug_name }}</div>
              <a href="/info/drugs/remove/?cat=0&id={{ cabinet.two.1.drug_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/drugs/{{ cabinet.two.1.drug_img }}" class="shelf-item1" /></a>
          </div>
        </div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endif %}


        {% if one_drug %}
        <div class="ui-grid-solo">
          <div class="shelf-row">
            <div class="shelf-label0">{{ cabinet.one.0.drug_name }}</div>
            <a href="/info/drugs/remove/?cat=0&id={{ cabinet.one.0.drug_id }}" data-rel="dialog" data-inline="true" data-transition="flip"><img src="/static/images/drugs/{{ cabinet.one.0.drug_img }}" class="shelf-item0" /></a>
                  
          </div>
        </div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endif %}

            
        {% if extra_shelf == 1 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% else %}{% if extra_shelf == 2 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% else %}{% if extra_shelf == 3 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% else %}{% if extra_shelf == 4 %}
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        <div class="ui-grid-solo"><img src="/static/images/shelf.png" class="one-shelf" /></div>
        {% endif %}{% endif %}{% endif %}{% endif %}

        <br />
        <br />
      </div>



        <!-- footer -->
        <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="e">
          <div data-role="navbar" data-grid="b">
            <ul>
              <li><a href="#drugs-prescription" data-icon="star" class="ui-btn-active ui-state-persist">Prescription</a></li>
              <li><a href="/info/drugs/otc/" data-icon="arrow-r" data-transition="slide">OTC</a></li>
              <li><a href="/info/drugs/misc/" data-icon="arrow-r" data-transition="slide">Misc.</a></li>
            </ul>
          </div>
        </div>
      
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
   </body>
</html>
